<p style="text-align:center;font-size:45px;border-bottom-width:1px;border-bottom-color:black;border-bottom-style:solid;">Hello World. Welcome to Ember</p>
<div style="float:right;">
    <a href="/scientists" style="margin-right:10px;">Scientists</a>  <a href="/zappabandmates">Frank Zappa Bandmates</a>
</div>

<h1>PeopleTracker</h1>



{{outlet}}